.vs/
CoreCMS/obj/
CoreCMS/bin/
ConsoleTestApp/bin/
ConsoleTestApp/obj/
CoreCMS.Panel/obj/
MVCTestApp/obj/
MVCTestApp/bin/
CoreCMS.Panel/bin/
CoreCMS.Panel/Assets/
CoreCMS.Panel/yarn.lock
CoreCMS.Panel/package-lock.json
CoreCMS.Panel/node_modules/
